{{#each categories}}
                                        
                                           
                                            <h1>{{categories.subCategory}}</h1>
                                            <h1>{{categories.parentCategory}}</h1>

                                            
                                        {{/each}}