<div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">{{phone_number}}</b></span>
            <div class="d-flex flex-row mt-5">
                <form action="/otpverify1" method="post">
                <input type="text" class="form-control" autofocus="" name="otp">
                <input type="submit" value="verify" class="btn btn-myOrange">
                </form></div>
                {{#if otpStatus}}
                incorrect OTP
                {{/if}}

            <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><a href="/otpverify"><span class="font-weight-bold text-danger cursor">Resend</span></a></div>
        </div>
</div>