<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-sm-6 col-md-4 ">
            <a href="/v1/user-orders-view">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Your orders</div>
                <div class="card-body d-flex" style="">
                    <div class="row">
                        <img src="/userpage/images/logos/Box._CB485927553_ (1).png" alt="">
                    </div>
                    <div class="row p-2">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 ">
            <a href="/v1/user-account-address">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Your address</div>
              <div class="card-body d-flex">
                    <div class="row">
                        <img src="/userpage/images/logos/address-map-pin._CB485934183_.png" alt="">
                    </div>
                    <div class="row p-2">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    {{!-- <p>Lorem ipsum dolor sit amet.</p> --}}
                </div>
                </div>
                </a>
                </div>
                
        <div class="col-12 col-sm-6 col-md-4 ">
            <a href="/v1/user-profile-details">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Login & security</div>
                <div class="card-body d-flex">
                    <div class="row">
                        <img src="/userpage/images/logos/sign-in-lock._CB485931504_.png" alt="">
                    </div>
                    <div class="row p-2">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    {{!-- <p>Lorem ipsum dolor sit amet.</p> --}}
                </div>
            </div>
            </a>
        </div>

        <div class="col-12 col-sm-6 col-md-4 ">
            <a href="/v1/coupons">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Coupons</div>
                <div class="card-body d-flex">
                    <div class="row">
                        <img src="/images/coupon-svgrepo-com (1).svg" alt="" height="71px" >
                    </div>
                    <div class="row p-2">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    {{!-- <p>Lorem ipsum dolor sit amet.</p> --}}
                </div>
            </div>
            </a>
        </div>
    </div>
</div>